---
import { RESUME } from '../data/resume';

const { education } = RESUME;
---

<section>
  <h2 class="font-bold text-xl mb-3">Educación</h2>

  <ul class="flex flex-col gap-5">
    {
      education.map(
        ({
          institution,
          area,
          endDate,
          startDate,
          studyType,
          score,
          url,
        }) => (
          <li>
            <article>
              <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center mb-2 sm:mb-1">
                <h3 class="text-lg font-semibold">
                  {url ? (
                    <a
                      href={url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="hover:underline"
                    >
                      {institution}
                    </a>
                  ) : (
                    institution
                  )}
                </h3>

                <time class="font-mono text-xs sm:text-sm">
                  {startDate} - {endDate ?? 'Presente'}
                </time>
              </div>

              <div class="flex flex-col sm:flex-row sm:justify-between sm:items-center">
                <p class="text-balance font-mono text-sm font-semibold">
                  {area}
                </p>

                <span class="font-mono text-sm">
                  {studyType}

                  {score && (
                    <span
                      class="font-semibold"
                      title="Promedio ponderado"
                    >
                      {' '}
                      ({score})
                    </span>
                  )}
                </span>
              </div>
            </article>
          </li>
        )
      )
    }
  </ul>
</section>
