---
import Chip from './Chip.astro';

import { RESUME } from '../data/resume';

const { work } = RESUME;
---

<section>
  <h2 class="font-bold text-xl mb-3">Experiencia Laboral</h2>

  <ul class="flex flex-col gap-5">
    {
      work.map(({ positions, type, name, url, location }) => (
        <li>
          <article>
            <div class="flex justify-between items-center mb-2">
              <div class="flex items-center gap-2">
                <h3 class="text-lg font-semibold">
                  {url ? (
                    <a
                      href={url}
                      target="_blank"
                      rel="noopener noreferrer"
                      class="hover:underline"
                    >
                      {name}
                    </a>
                  ) : (
                    name
                  )}
                </h3>
                {type && <Chip label={type} />}
              </div>

              <span class="font-mono font-semibold">
                {location?.city}, {location?.country}
              </span>
            </div>

            <ol class="relative border-s border-gray-200 ">
              {positions.map((position) => (
                <li class="mb-10 ms-4">
                  <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white" />
                  <div class="flex items-center justify-between mb-1">
                    <h4 class=" font-semibold ">{position.name}</h4>
                    <time class="text-sm leading-none font-mono">
                      {position.startDate} -{' '}
                      {position.endDate || 'Presente'}
                    </time>
                  </div>
                  {position.summary && (
                    <p class="mb-4 text-sm font-normal ">
                      {position.summary}
                    </p>
                  )}
                </li>
              ))}
            </ol>
          </article>
        </li>
      ))
    }
  </ul>
</section>
